@{
    List<TwitterClone.Models.Tweet> tweets = ViewBag.Tweets;
}


@foreach (var tweet in tweets)
{
    <div class="twit">
        <div class="card">
            <div class="row g-8">
                <br>
                <div class="col-auto"><img src="https://i.redd.it/oq8e1utnl0651.jpg" class="border-rad" alt="..."></div>
                <div class="col">
                    <div class="card-body">
                        <span class="card-title fw-bold">
                            <a class="card-title" href="#">@tweet.Name</a>
                        </span>
                        <span class="card-subtitle mb-2">@tweet.Username</span>
                        <span class="card-subtitle mb-2">Time</span>
                        <span class="float-end post-info dropdown">
                            <i class="fa-solid fa-circle-info"></i>
                            <div class="dropdown-content">
                                <br>
                                <p><i class="fa-regular fa-trash-can"></i>Delete Tweet</p>
                            </div>
                        </span>
                        <p class="card-text">@tweet.TweetDesc</p>
                        <img src="@tweet.TweetImage" class="card-body-img rounded-1" alt="">
                    </div>
                    <div class="interection">
                        <div class="inter d-inline p-3">
                            <span class="icon"><i class="fa-regular fa-comment"></i></span>
                            <span class="cul">@tweet.TweetComments</span>
                        </div>
                        <div class="inter d-inline p-3">
                            <span class="icon"><i class="fa-solid fa-retweet"></i></span>
                            <span class="cul">@tweet.TweetRetweet</span>
                        </div>
                        <div class="inter d-inline p-3">
                            <span class="icon"><i class="fa-regular fa-heart"></i></span>
                            <span class="cul">@tweet.TweetLikes</span>
                        </div>
                        <div class="inter d-inline p-3">
                            <span class="icon"><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                            <span class="cul">@tweet.TweetShare</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
