
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.user != null)
{
    @Html.Action("EditProfile","Profile", new { id = ViewBag.username })
    <div class="col bkgr">
        <div class="main-header font-white">
            <div class="row profile-layout">
                <div class="col-1 lh-3">
                    <div class="back-arrow d-flex">
                        <div class="mx-auto">
                            <a href="@Url.Action("Index", "Home")"><i class="fa-solid fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-11">
                    <div class="lh-base">
                        <h5 class="fs-5">@ViewBag.user.Username</h5>
                        <h6 class="fw-light lh-0 font-light-grey">2.220 Tweet</h6>
                    </div>
                </div>
            </div>
            <div class="main-profile">
                <div class="profile-background">
                    <img src="/@ViewBag.user.UserBackground" class="userBackground" height="200px" width="100%" alt="">
                </div>
                <div class="position-relative">
                    <div class="position-absolute bottom-0 start-50 translate-middle-x">
                        <div class="bg-light p-3 profile-photo profile-pos">
                            @if (ViewBag.user.UserImage != "asd")
                            {
                                <img src="/@ViewBag.user.UserImage" class="profile-photo-set" width="100%" alt="">
                            }
                            else
                            {
                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="profile-photo-set" alt="">
                            }
                        </div>
                        <div class="position-absolute float-end m-3 end--310">
                            @if (ViewBag.username == (string)Session["Username"])
                            {
                                <button onclick="modalLog()" class="btn btn-edit fw-bolder">Edit Profile</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="profile-about mx-4">
                    <div class="row mt-7">
                        <div class="col-2">
                            <h3>@ViewBag.user.Name</h3>
                            <h6 class="fw-light lh-0 font-light-grey">@ViewBag.user.Username</h6>
                        </div>
                    </div>
                    <div class="profile-desc mt-4">
                        <p>@ViewBag.user.UserDesc</p>
                    </div>
                    <div class="profil-detail mt-1">
                        <div class="mt-2">
                            <div class="d-inline">
                                <p class="d-inline fw-light lh-0 font-light-grey"><i class="fa-solid fa-location-dot"></i> @ViewBag.user.Location</p>
                            </div>
                            <div class="d-inline">
                                <p class="d-inline fw-light lh-0 font-light-grey"><i class="fa-solid fa-calendar-days"></i> @ViewBag.user.Joined Joined</p>
                            </div>
                            @*<div class="d-inline">
                                <p class="d-inline fw-light lh-0 font-light-grey">Birthday @ViewBag.user.BirthDate</p>
                            </div>*@
                        </div>
                        <div class="mt-3">
                            <div class="d-inline">
                                <p class="d-inline">@ViewBag.user.Following</p>
                                <p class="d-inline fw-light lh-0 font-light-grey">Following</p>
                            </div>
                            <div class="d-inline">
                                <p class="d-inline">@ViewBag.user.Followers</p>
                                <p class="d-inline fw-light lh-0 font-light-grey">Followers</p>
                            </div>
                        </div>
                        <div class="tablist mt-4">
                            <div class="row text-center">
                                <div class="col">
                                    <div class="profile-detail-borderbottom">
                                        <h6>Tweets</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <h6>Comments</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <h6>Media</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <h6>Like</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div>
                @Html.Action("Ptwit", "Profile", new { user = ViewBag.username })
            </div>
        </div>
    </div>
}

<script>
    function modalLog() {
        const modalDiv = document.getElementById("modal");
        modalDiv.style.tabIndex = "2";
        modalDiv.style.display = "block";
        modalDiv.focus();
    }
</script>
